@{
    Layout = null;
}

<!DOCTYPE html>
@* ng-app đặt biến r thì phải định nghĩa nếu ko lỗi nè 
    không ra dc {{}} expression luôn 
    
    ng-app để trống dc*@
<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title >Index</title>

</head>
<body >

</body>
</html>


